<div class="container" >
    <div class="row" id="competition">
        <div class="col-lg-5 col-sm-6">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">Lorem ipsum dolor<br>adipiscing elit</h2>
            <p class="lead">Lorem ipsum dolor <a target="_blank" href="#">sit amet</a>, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        </div>
        <div class="col-lg-5 col-lg-offset-2 col-sm-6">
            <img class="img-responsive" src="img/ipad.png" alt="">
        </div>
    </div>

</div>