<div class="container">
<div id="posts">
		<ul id="post-list" style="list-style: none">
			<li>
				<div class="col-lg-2">
					<p>username</p>
				</div>
				<div class="col-lg-10">

				<blockquote>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
				</blockquote>
				</div>

			</li>
			<li>
				<div class="col-lg-2">
					<p>username</p>
				</div>
				<div class="col-lg-10">

					<blockquote>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
					</blockquote>
				</div>

			</li><li>
			<div class="col-lg-2">
				<p>username</p>
			</div>
			<div class="col-lg-10">

				<blockquote>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
				</blockquote>
			</div>

		</li>
		</ul>
	
	<div class="form-group">
		<input id="post" class="form-control" placeholder="Post content"/>
	</div>
	<div class="form-group">
		<a href="#" type="submit" tabindex="3" class="btn btn-primary btn-lg pull-right">Submit</a>
	</div>
		<p id="post-result"></p>
	</div>

	<div class="clearfix"></div>
<div class="row text-center">

<ul class="pagination">
	<li class="disabled"><a href="#">prev</a></li>
	<li class="active"><a href="#">1</a></li>
	<li><a href="#">2</a></li>
	<li><a href="#">3</a></li>
	<li><a href="#">4</a></li>
	<li><a href="#">5</a></li>
	<li><a href="#">next</a></li>
</ul>
</div>

</div>