<div class="container">
    <div id="posts">
        <div class="form-group">
            <h3 id="chat-error-label" class="has-error"></h3>
        </div>
        <ul id="post-list" style="list-style: none"></ul>
        <div class="form-group">
            <input id="post-content" class="form-control" placeholder="Post content" />
        </div>
        <div class="form-group">
            <a href="#" id="post-submit" type="submit" class="btn btn-primary btn-lg pull-right">Submit</a>
        </div>
        <div>
            <p id="post-result"></p>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row text-center">
        <ul class="pagination">
            <li class="disabled"><a href="#">prev</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">next</a></li>
        </ul>
    </div>
</div>
